body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.upload{
        margin-top: 10%;
    margin-left: 25%;
    width: 50%;
    opacity: 0.75;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
}

.upload:hover{
    opacity: 0.90;
}
.upload .jumbotron{
    background-color: black;
    color: white;
}
.lastupload{
    margin-left: 10%;
    width: 80%;
    opacity: 0.75;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
}
.lastupload:hover{
    opacity: 0.90;
}
.lastupload .jumbotron{
    background-color: black;
    color: white;
}
.img{
    margin-left: 52px;
    margin-top: 52px;
    height: 150px;
    width: 10%;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
}
.img img{
    height: 100%;
    width: 100%;
}

.img #view{
    margin-left: 57.5px;

}

.img p{
    font-size: 15px;
}
.inscription{
        margin-top: 10%;
    margin-left: 25%;
    width: 50%;
    opacity: 0.75;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
}
.inscription:hover{
    opacity: 0.90;
}
.inscription .jumbotron{
    background-color: black;
    color: white;
}
.login{
        margin-top: 10%;
    margin-left: 25%;
    width: 50%;
    opacity: 0.75;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
}
.login:hover{
    opacity: 0.90;
}
.login .jumbotron{
    background-color: black;
    color: white;
}
.profil{
        margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    opacity: 0.75;
    -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
}
.profil:hover{
    opacity: 0.90;
}
.profil .jumbotron{
    background-color: black;
    color: white;
}
nav {
    opacity: 0.75;
     -webkit-transition: opacity 0.75s;
    transition: opacity 0.75s;
}
nav:hover{
    opacity: 0.90;
}
nav img{
    width: 50px;
    margin-top: -15px;
}
